node_modules
**/node_modules
.pnpm-store

*.log
.DS_Store
Thumbs.db

dist
dist-ssr
coverage
*.tsbuildinfo

.env
.env.*
!.env.example

templates/**/package-lock.json
templates/**/pnpm-lock.yaml
templates/**/yarn.lock
templates/**/bun.lockb

.vscode/*
!.vscode/extensions.json
.idea

templates/**/.gitignore